.AppBody {
  text-align: center;

}

.AppMenu {
  display: inline;
  position: relative
}

.AppToDoList {
  display: inline;
  position: relative;
  overflow: hidden;
  
}

.AppFooter {
  background-color: black ;
  color: #d3d3d3;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;

}

.toDoFormInput {
  background-color:#d3d3d3 !important; 
}

.toDoList { 
  margin: auto;
  width: 60%;
}

.toDoListCounter {
  float: left;

}
.toDoListButtons {
  float: right;
}