.AppBody {
  text-align: center;

}


.AppToDoList {
  margin: auto;
  width: 60%;
  padding-top: 100px;
}

.AppFooter {
  background-color: black ;
  color: #d3d3d3;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.toDoFormInput {
  background-color:#d3d3d3 !important; 
}

.toDoList { 
  
  
}

.toDoListCounter {
  float: left;

}
.toDoListButtons {
  float: right;
}